/* Header start */
.header {

    &.open {
        .overlay {
            display: block;
        }

        .header__hamburger {
            >span:first-child {
                transform: rotate(45deg);
            }

            >span:nth-child(2) {
                opacity: 0;
            }

            >span:last-child {
                transform: rotate(-45deg);
            }
        }
    }


    nav {
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
        position: relative;
        background: #fff;
    }

    &__logo {

        // Brand logo
        img {
            width: 100%;
        }
    }

    &__hamburger {
        //Mobile __hamburger icon

        >span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkBlue;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    //Mobile __hamburger icon
    &__mobile__menu {
        position: absolute;
        width: calc(100% - 3rem);
        left: 50%;
        margin-top: 1.5rem;
        transform: translateX(-50%);
        background-color: whitesmoke;
        border-radius: .35rem;

        ul {
            padding: 1.625rem;

            li {
                padding: 0.625rem;

                a {
                    font-size: $font-med;
                    font-weight: 700;
                    color: inherit;


                }

                &:hover {
                    cursor: pointer;
                }

            }
        }
    }

    &__menu {
        a {
            font-size: $font-sm;
            font-weight: 700;
            color: $grayishBlue;
            transition: color 200ms ease-in-out;

            &:not(:last-child) {
                margin-right: 32px;
            }

            &:hover {
                padding-bottom: 1.75rem;
                border-bottom: 5px solid transparent;
                color: $darkBlue;
                border-image: linear-gradient(to right, $limeGreen, $brightCyan);
                border-image-slice: 1;
                transition: border-bottom 300ms ease-in-out;
            }
        }
    }

    &__btn {
        font-weight: 700;
        color: $white !important;
        transition: opacity 200ms ease-in-out;

        &:hover {
            opacity: 0.75;
        }
    }



    .overlay {
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient($darkBlue, transparent);
    }

}

/* Header ends */